{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Patio Food & Beer</title>
        <!--CSS-->
        <link rel="stylesheet" href="{% static 'calculadora/css/styles.css' %}">
        <!--Iconos Menú-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>    
    </head>
    <body>
        <!--Header-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">El Patio Food & Beer</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#inicio" class="nav__link active-link">Inicio</a></li>
                        <li class="nav__item"><a href="#sobreNosotros" class="nav__link">Sobre Nosotros</a></li>
                        <li class="nav__item"><a href="#menu" class="nav__link">Menú</a></li>
                        <li class="nav__item"><a href="#eventos" class="nav__link">Eventos</a></li>
                        <li class="nav__item"><a href="#reservaciones" class="nav__link">Reservaciones</a></li>
                        <li class="nav__item"><a href="#galeria" class="nav__link">Galería</a></li>
                        <li class="nav__item"><a href="#ubicacion" class="nav__link">Ubicación</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--Calculadora-->
            <section class="menu section bd-container" id="calculadora">
                <span class="section-subtitle">Calculadora Salarial</span>
                <h2 class="section-title">Ingrese sus datos en colones</h2>

                <form>
                    <label for="fname">Salario Bruto:</label><br>
                    <input type="text" id="sbruto" name="sbruto"><br>
                    <button type="button" id="btncalcular">Calcular</button>
                </form>

                <form>
                    <label for="fname">Enfermedad y Maternidad 5.5%:</label>
                    <input type="text" id="eym" name="eym" readonly><br>
                    <label for="fname">Invalidez y Muerte 3.84%:</label>
                    <input type="text" id="iym" name="iym" readonly><br>
                    <label for="fname">Aporte Trabajador Banco Popular 1%:</label>
                    <input type="text" id="atbp" name="atbp" readonly><br>
                    <label for="fname">Impuesto sobre la renta (si aplica):</label>
                    <input type="text" id="isr" name="isr" readonly><br>
                    <label for="fname">Total Deducciones:</label>
                    <input type="text" id="tdeducciones" name="tdeducciones" readonly><br>
                    <label for="fname">Total Neto:</label>
                    <input type="text" id="tneto" name="tneto" readonly><br>
                </form>

            </section>
            
            <section class="menu section bd-container" id="resultados">
         
            </section>
            

        <!--Footer-->
        <footer class="footer section bd-container" >
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">El Patio Food & Beer</a>
                    <span class="footer__description">Redes Sociales</span>
                    <div>
                        <a href="https://www.facebook.com/ElPatioLagunilla" target="blank" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/elpatiolagunilla/?hl=es"  target="blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Contacto</h3>
                    <ul>
                        <li>Lagunilla - Heredia</li>
                        <li>7082-9981</li>
                        <li>Nos mantendremos siguiendo todos los protocolos puestos por el Ministerio de Salud.</li>
                    </ul>
                </div>
            </div>

            <p class="footer__copy">&#169; 2022 El Patio Food & Beer. Todos los derechos reservados</p>
        </footer>
    </body>
</html>