{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Patio Food & Beer</title>
        <!--CSS-->
        <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--Iconos-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>    
        <!--Icono Pestaña-->
        <link rel="icon" href="{% static 'index/media/elPatio.png' %}">
    </head>
    
    <body>   
        <!--Header-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">El Patio Food & Beer</a>
                
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#inicio" class="nav__link">Inicio</a></li>
                        <li class="nav__item"><a href="#sobreNosotros" class="nav__link">Sobre Nosotros</a></li>
                        <li class="nav__item"><a href="#menu" class="nav__link">Menú</a></li>
                        <li class="nav__item"><a href="#eventos" class="nav__link">Eventos</a></li>
                        <li class="nav__item"><a href="#galeria" class="nav__link">Galería</a></li>
                        <li class="nav__item"><a href="#ubicacion" class="nav__link">Ubicación</a></li>
                    </ul>
                </div>        
                
                <!--Barra Menu de Inicio Icono Pantalla Pequeña-->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        
        <!--Inicio-->
        <section class="home" style="background-color: #202123;" id="inicio">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Un lugar</h1>
                    <h2 class="home__subtitle">para reunirte <br> y sentirte en familia.</h2>
                    <a href="#" class="button">Menú</a>
                </div>
                <img src="{% static 'index/media/pilsen.png' %}" class="image-header">
            </div>
        </section>
        
        <!--Sobre Nosotros-->
        <section class="about section bd-container" id="sobreNosotros">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial" style="font-size: 30px;">Sobre Nosotros</span>
                    <p class="about__description" style="font-weight: bold;">En El Patio sabemos que la vida es mejor <br> cuando estamos en familia y con amigos</p>
                    <p class="about__description">Te brindamos un entorno maravilloso y un ambiente muy agradable, además de la buena comida e increíble ubicación. Podrás disfrutar de eventos especiales para que tu visita sea una experiencia única.</p>
                </div>
                <img src="https://img.freepik.com/foto-gratis/hombres-jovenes-brindando-cerveza-mientras-estan-sentados-juntos-pub_171337-13479.jpg?t=st=1650084018~exp=1650084618~hmac=9438d70c8498b772c01cd260fb0abfc1f1278dece0fc2046b633867228e5a8b3&w=740" alt="" class="about__img">
            </div>
        </section>
        
        <!--Menu Especial-->
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Menú</span>
            <h2 class="section-title">Especial</h2>
            
            <!--Menu Especial Cards-->
            <div class="menu__container bd-grid">
                
                <div class="menu__content">
                    <img src="https://e6.pngbyte.com/pngpicture/120016/png-1-4lb-Bacon-Cheese-Grill-Burger-Png-Download-Transparent-Chicken-Sandwich-Png-grill-sandwich.png" alt="" class="menu__img">
                    <h3 class="menu__name">Hamburguesa Bacon</h3>
                    <span class="menu__detail">+ Cerveza Nacional Gratis</span>
                    <span class="menu__preci" style="color: #AFC714;">₡4,500</span>
                    <a href="#" class="button menu__button"><i class='bx bx-food-menu'></i></a>
                </div>
                
                <div class="menu__content">
                    <img src="{% static 'index/media/pilsenMenu.jpg' %}" alt="" class="menu__img">
                    <h3 class="menu__name">Cerveza <br>Imperial</h3>
                    <span class="menu__detail">Miércoles a Domingo 5PM a 7PM</span>
                    <span class="menu__preci" style="color: #AFC714;">₡1,000</span>
                    <a href="#" class="button menu__button"><i class='bx bx-beer'></i></a>
                </div>
                
                <div class="menu__content">
                    <img src="https://labasilica640.pe/wp-content/uploads/2021/08/CEVICHE.png" alt="" class="menu__img">
                    <h3 class="menu__name">Ceviche<br>El Patio</h3>
                    <span class="menu__detail">+Cerveza Imperial</span>
                    <span class="menu__preci" style="color: #AFC714;">₡6,000</span>
                    <a href="#" class="button menu__button"><i class='bx bx-dish'></i></a>
                </div>
            
            </div>
        </section>
        
        <!--Eventos-->
        <section class="menu section bd-container" id="eventos">
            <span class="section-subtitle">Próximos</span>
            <h2 class="section-title">Eventos</h2>
            
            <p class="about__event">Vení y disfrutá de los eventos preparados en nuestra sede de Lagunilla, Heredia. <br>Nos mantendremos siguiendo todos los protocolos puestos por el Ministerio de Salud.
                <br>Reservá tu espacio por Whatsapp al 8320-1684 o 8843-6669.</p>
                
                <!--Eventos Cards-->
                <div class="container">
                    <div class="row">
                        
                        <div class="col-sm">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{% static 'index/media/DJHeigon.png' %}" alt="DJHeigon">
                                <div class="card-body">
                                  <h5 class="card-title">DJ Heigon</h5>
                                  <p class="event-text">Pre-partido de la sele y México<br>¡El combo perfecto! ⚽🍻</p>
                                </div>
                                <div class="card-body" style="background-color: #AFC714;padding: 0%;">
                                  <p href="#" class="card-link"><br>Domingo 29 de Agosto<br>3:00 PM</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{% static 'index/media/DJBryan.png' %}" alt="DJByran">
                                <div class="card-body">
                                  <h5 class="card-title">DJ Byran</h5>
                                  <p class="event-text">Open Format Session<br>¡Empezá el finde como se debe!🔥</p>
                                </div>
                                <div class="card-body" style="background-color: #39D1CE;padding: 0%;">
                                  <p href="#" class="card-link"><br>Viernes 27 de Agosto<br>5:00 PM</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{% static 'index/media/Vanessa.png' %}" alt="Vanessa">
                                <div class="card-body">
                                    <h5 class="card-title">Vanessa González</h5>
                                    <p class="event-text">Evento por @eliteproduccionescr<br>desde las 6:00PM 💯🍻</p>
                                </div>
                                <div class="card-body" style="background-color: #9267E4;padding: 0%;">
                                    <p href="#" class="card-link"><br>Domingo 29 de Agosto<br>6:00 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--Galeria-->
            <section class="gallery section bd-container" id="galeria">
                <span class="section-subtitle">El Patio</span>
                <h2 class="section-title" style="padding-bottom: 5%;">Galeria</h2> 
                <div class="container-img">
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria1.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria2.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria3.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria4.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria5.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria6.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="#">
                            <figure>
                                <img src="{% static 'index/media/Galeria7.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </section>
            
            <!--Ubicación-->
            <section class="menu section bd-container" id="ubicacion">
                <h2 class="section-title" style="padding-bottom: 8%;">Ubicación</h2> 
                <div class="container">
                    <div class="row" style="text-align: left;"> 
                        <div class="col">Visitanos en Lagunilla de Heredia:
                            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15718.399159188973!2d-84.1185053!3d9.9672167!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bdb4a01dc958114!2sEl%20Patio%20Food%20%26%20Beer!5e0!3m2!1ses-419!2scr!4v1650331872243!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col" style="text-align: center;">Ordená tu Pedido por DiDi Food:
                            <img src="{% static 'index/media/DiDiFoodLogo.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--Footer-->
            <footer class="footer section bd-container" >
                <div class="footer__container bd-grid">
                    <div class="footer__content">
                        <a href="#" class="footer__title">El Patio Food & Beer</a>
                        <span class="footer__description">Redes Sociales</span>
                        <div>
                            <a href="https://www.facebook.com/ElPatioLagunilla" target="blank" class="footer__social"><i class='bx bxl-facebook'></i></a>
                            <a href="https://www.instagram.com/elpatiolagunilla/?hl=es"  target="blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                            <a href="#" class="footer__social"><i class='bx bxl-whatsapp'></i></a>
                        </div>
                    </div>
                    
                    <div class="footer__content">
                        <h3 class="footer__title">Contacto</h3>
                        <ul>
                            <li>Lagunilla - Heredia</li>
                            <li>7082-9981</li>
                            <li>Nos mantendremos siguiendo todos los protocolos puestos por el Ministerio de Salud.</li>
                        </ul>
                    </div>
                </div>
                
                <p class="footer__copy">&#169; 2022 El Patio Food & Beer. Todos los derechos reservados</p>
            </footer>
        </body>
    </html>