{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Patio Food & Beer</title>
        <!--CSS-->
        <link rel="stylesheet" href="{% static 'reportes/css/styles.css' %}">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--Iconos-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <!--Icono Pestaña-->
        <link rel="icon" href="{% static 'reportes/media/elPatio.png' %}">
    </head>
    
    <body>   
        <!--Header-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">El Patio Food & Beer</a>
                
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#inicio" class="nav__link">Inicio</a></li>
                        <li class="nav__item"><a href="#sobreNosotros" class="nav__link">Sobre Nosotros</a></li>
                        <li class="nav__item"><a href="#menu" class="nav__link">Menú</a></li>
                        <li class="nav__item"><a href="#eventos" class="nav__link">Eventos</a></li>
                        <li class="nav__item"><a href="#galeria" class="nav__link">Galería</a></li>
                        <li class="nav__item"><a href="#ubicacion" class="nav__link">Ubicación</a></li>
                    </ul>
                </div>        
                
                <!--Barra Menu de Inicio Icono Pantalla Pequeña-->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        
        <!--Boton de Descarga-->
        <section class="about section bd-container" id="sobreNosotros">
            <div class="about__container bd-grid">
                <select>
                    <option>- Seleccionar Reporte -</option>
                    <option>Reporte 1</option>
                    <option>Reporte 2</option>
                </select>
                <button class="btn"><i class="fa fa-download"></i> Descargar</button>
            </div>
        </section>
            
        <!--Footer-->
        <footer class="footer section bd-container" >
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__title">El Patio Food & Beer</a>
                    <span class="footer__description">Redes Sociales</span>
                    <div>
                        <a href="https://www.facebook.com/ElPatioLagunilla" target="blank" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/elpatiolagunilla/?hl=es"  target="blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </div>
                
                <div class="footer__content">
                    <h3 class="footer__title">Contacto</h3>
                    <ul>
                        <li>Lagunilla - Heredia</li>
                        <li>7082-9981</li>
                        <li>Nos mantendremos siguiendo todos los protocolos puestos por el Ministerio de Salud.</li>
                    </ul>
                </div>
            </div>
            
            <p class="footer__copy">&#169; 2022 El Patio Food & Beer. Todos los derechos reservados</p>
        </footer>
    </body>
</html>