{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">El Patio Food & Beer</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

    <!-- Content Row -->
    <div class="row">


        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="{% static 'admin/media/elPatioLogo.jpg' %}" alt="...">
                    </div>
                    <p style="text-align: center;">Bienvenido al Sistema de Administración de El Patio Food & Beer. Gestiona los registros de productos, usuarios, roles y eventos. Adicionalmente se podrán visualizar los reportes más reciente del restaurante.</p>
                </div>
            </div>


        </div>
    </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}