{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Rol</h1>

    <div class="row">
        <div class="col-lg-12">
            <!-- FORM ROLES -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información de Roles</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Nombre del Rol</label>
                                <input type="text" class="form-control" name="nombre_rol" id="nombre_rol" required>
                            </div>
                            <br>
                            <input class="btn btn-success" type="submit" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}