{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Usuario</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información Personal</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 mb-6">
                                <label for="validationTooltip04">Nombre</label>
                                <input type="text" class="form-control" name="nombre_usuario" id="nombre_usuario" required>
                            </div>
                            </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Primer Apellido</label>
                                <input type="text" class="form-control" name="primer_apellido_usuario" id="primer_apellido_usuario" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Segundo Apellido</label>
                                <input type="text" class="form-control" name="segundo_apellido_usuario" id="segundo_apellido_usuario">
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Teléfono</label>
                                <input type="text" class="form-control" name="telefono_usuario" id="telefono_usuario" required>
                                </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Rol de Usuario</label>
                                <select name="id_rol_usuario" id="id_rol_usuario" class="form-control" required>
                                <option value="">- Seleccione Rol -</option>
                                {% for rol in roles %}
                                    <option value="{{ rol.id_rol }}">{{ rol.nombre_rol }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" name="fecha_nacimiento_usuario" id="fecha_nacimiento_usuario" placeholder="dd/mm/yyyy" required>
                                </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Fecha de Contratación</label>
                                <input type="date" class="form-control" name="fecha_contratacion_usuario" id="fecha_contratacion_usuario" placeholder="dd/mm/yyyy" required>
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip03">Jornada Laboral</label>
                                <select name="id_jornada_usuario" id="id_jornada_usuario" class="form-control" required>
                                <option value="">- Seleccione Jornada -</option>
                                {% for j in jornadas %}
                                    <option value="{{ j.id_jornada }}">{{ j.nombre_jornada }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            </div>
                            <br>
                        <input class="btn btn-success" type="submit" value="Guardar">
                        </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}