{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Categoría Productos</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Categoría de Productos</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Nombre de Categoría</label>
                                <input type="text" class="form-control" name="nombre_categoria_producto" id="nombre_categoria_producto" required>
                            </div>
                            </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Foto de Categoría</label>
                                <input type="file" class="form-control" name="foto_categoria_producto" id="foto_categoria_producto">
                            </div>
                            </div>
                            <br>
                        <input class="btn btn-success" type="submit" value="Guardar">
                        </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}