{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>El Patio Food & Beer</title>

    <!--Fuentes-->
    <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link href="{% static 'admin/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<div id="wrapper">
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
        style="background-color: black;">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin">
            <div class="sidebar-brand-text mx-3">El Patio Food & Beer Admin</div>
        </a>
        <!--DIVISION-->
        <hr class="sidebar-divider" style="background-color: white;">

        <!--TITLE-->
        <div class="sidebar-heading" style="color: white;">
            Autentificación y registros
        </div>

        <!--CATEGORIA EVENTOS-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseCategoriaEvents"
               aria-expanded="true" aria-controls="collapseCategoriaEvents">
                <i class="fas fa-list-alt"></i>
                <span>Categoría Eventos</span>
            </a>
            <div id="collapseCategoriaEvents" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarCategoriaEventos">Agregar</a>
                    <a class="collapse-item" href="verCategoriaEventos">Ver Categoría Eventos</a>
                </div>
            </div>
        </li>

        <!--CATEGORIA PRODUCTOS-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseCategoriaProducts"
               aria-expanded="true" aria-controls="collapseCategoriaProducts">
                <i class="fas fa-list-alt"></i>
                <span>Categoría Productos</span>
            </a>
            <div id="collapseCategoriaProducts" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarCategoriaProductos">Agregar</a>
                    <a class="collapse-item" href="verCategoriaProductos">Ver Categoría
                        Productos</a>
                </div>
            </div>
        </li>

        <!--EVENTS-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseEvents"
               aria-expanded="true" aria-controls="collapseEvents">
                <i class="fas fa-mail-bulk"></i>
                <span>Eventos</span>
            </a>
            <div id="collapseEvents" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarEventos">Agregar</a>
                    <a class="collapse-item" href="verEventos">Ver Eventos</a>
                </div>
            </div>
        </li>

        <!--INVENTARIOS-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseInventarios"
               aria-expanded="true" aria-controls="collapseInventarios">
                <i class="fas fa-database"></i>
                <span>Inventarios</span>
            </a>
            <div id="collapseInventarios" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarInventarios">Agregar</a>
                    <a class="collapse-item" href="verInventarios">Ver Inventarios</a>
                </div>
            </div>
        </li>

        <!--REPORTES-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseReports"
               aria-expanded="true" aria-controls="collapseReports">
                <i class="fas fa-chart-pie"></i>
                <span>Reportes</span>
            </a>
            <div id="collapseReports" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="verReportesFecha">Reportes por Fechas</a>
                    <a class="collapse-item" href="verReportesEvento">Reportes por Evento</a>
                </div>
            </div>
        </li>

        <!--ROLES-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseRoles"
               aria-expanded="true" aria-controls="collapseRoles">
                <i class="fas fa-sitemap"></i>
                <span>Roles</span>
            </a>
            <div id="collapseRoles" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarRoles">Agregar</a>
                    <a class="collapse-item" href="verRoles">Ver Roles</a>
                </div>
            </div>
        </li>

        <!--Salarios-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseSalarios"
               aria-expanded="true" aria-controls="collapseSalarios">
                <i class="fas fa-calculator"></i>
                <span>Salarios</span>
            </a>
            <div id="collapseSalarios" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="calculadora">Calculadora Salarial</a>
                </div>
            </div>
        </li>

        <!--USERS-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseUsers"
               aria-expanded="true" aria-controls="collapseUsers">
                <i class="fas fa-user-alt"></i>
                <span>Usuarios</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="agregarUsuario">Agregar</a>
                    <a class="collapse-item" href="verUsuario">Ver Usuarios</a>
                </div>
            </div>
        </li>

    </ul>

    <!--Buscar e Icono de Usuario-->
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                            <img class="img-profile rounded-circle"
                                 src="{% static 'admin/media/user.png' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal"
                               data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                {% block content %}{% endblock %}


            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Listo para Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Selecione "Cerrar Sesión" si estás listo para terminar
                        la sesión.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            Cancelar
                        </button>
                        <a class="btn btn-primary" href="login">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<!-- Modal -->
<div class="modal fade exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    style="margin-left: 10px; font-size: 30px; line-height: 1.5; font-weight: bold;">
                    Mensaje</h5>
            </div>
            <div class="modal-body">
                <div id="modalll"></div>
                <div id="modal-mensaje">
                    <p>{{ message }}</p>
                    <!--<p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin/js/sb-admin-2.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".exampleModal").modal('show');
    });

</script>

</body>

</html>