{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Calculadora Salarial</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12 mb-4">
                <!-- FORM ROLES -->
                <div class="card shadow mb-4">
                    <!--Calculadora-->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Información de Salarios</h6>
                    </div>
                    <div class="card-body">

                        <form class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip04">Salario Bruto:</label>
                                    <input type="text" id="sbruto" class="form-control" name="sbruto">
                                </div>
                            </div>
                            <button onclick="calcularSalario()" type="button" id="btncalcular">Calcular</button>
                        </form>

                        <br>
                        <br>
                        
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Enfermedad y Maternidad 5.5%:</label>
                                <input type="text" id="eym" class="form-control" name="eym" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Invalidez y Muerte 3.84%:</label>
                                <input type="text" id="iym" class="form-control" name="iym" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Aporte Trabajador Banco Popular 1%:</label>
                                <input type="text" id="atbp" class="form-control" name="atbp" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Impuesto sobre la renta (si aplica):</label>
                                <input type="text" id="isr" class="form-control" name="isr" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Total Deducciones:</label>
                                <input type="text" id="tdeducciones" class="form-control" name="tdeducciones" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fname">Total Neto:</label>
                                <input type="text" id="tneto" class="form-control" name="tneto" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'calculadora/js/script.js' %}"></script>
{% endblock %}