{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Productos</h1>

    <div class="row">
        <div class="col-lg-12">
            <!-- FORM ROLES -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información de Inventarios</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        {% for producto in inventarios %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="id" id="id" value={{producto.id_producto}} hidden>
                                    <label for="validationTooltip04">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre_producto" id="nombre_producto" value={{producto.nombre_producto}} required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip03">Unidades del Producto</label>
                                    <input type="number" class="form-control" name="unidades_producto" id="unidades_producto" value={{producto.unidades_producto}} required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip04">Precio</label>
                                    <input type="text" class="form-control" name="precio_producto" id="precio_producto" value={{producto.precio_producto|unlocalize}} required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip03">Foto del Producto</label>
                                    <input type="file" class="form-control" name="foto_producto" id="foto_producto" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip04">Categoría del Producto</label>
                                    <select name="id_categoria_producto" id="id_categoria_producto" class="form-control" name="id_categoria_producto" required>
                                        <option value="">- Seleccione Categoría -</option>
                                        {% for cp in cat_productos %}
                                            {% if cp.id_categoria_producto == producto.id_categoria_producto.id_categoria_producto %}
                                                <option value="{{ cp.id_categoria_producto }}" selected>{{ cp.nombre_categoria_producto }}</option>
                                            {% else %}
                                                <option value="{{ cp.id_categoria_producto }}">{{ cp.nombre_categoria_producto }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <input class="btn btn-success" type="submit" value="Guardar">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}