{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Eventos</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información de Eventos</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        {% for evento in eventos %}
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="id" id="id" value={{evento.id_evento}} hidden>
                                <label for="validationTooltip04">Nombre de Evento</label>
                                <input type="text" class="form-control" name="nombre_evento" id="nombre_evento" value={{evento.nombre_evento}} required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Categoría de Evento</label>
                                <select name="id_categoria_evento" id="id_categoria_evento" class="form-control" required>
                                    <option value="">- Seleccione Categoría -</option>
                                    {% for ce in categoriaEvento %}
                                        {% if ce.id_categoria_evento == evento.id_categoria_evento.id_categoria_evento %}
                                            <option value="{{ ce.id_categoria_evento }}" selected>{{ ce.nombre_categoria_evento }}</option>
                                        {% else %}
                                            <option value="{{ ce.id_categoria_evento }}">{{ ce.nombre_categoria_evento }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Fecha del Evento</label>
                                <input type="date" class="form-control" name="fecha_evento" id="fecha_evento" placeholder="dd/mm/yyy">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Duración del Evento</label>
                                <input type="text" class="form-control" name="duracion_evento" id="duracion_evento" value={{evento.duracion_evento}}>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Descripción Evento</label>
                                <textarea class="form-control" name="descripcion_evento" id="descripcion_evento" rows="3">{{evento.descripcion_evento}}</textarea>
                                </div>
                            </div>
                            <br>
                        <input class="btn btn-success" type="submit" value="Guardar">
                        {% endfor %}
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}