{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="about section bd-container" id="sobreNosotros">
        <div class="about__container">
            <embed src="{% static 'manual/doc/manual.pdf' %}" type="application/pdf" width="100%" height="600px" />
        </div>
    </section>
{% endblock %}