{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Agregar Productos</h1>

    <div class="row">
        <div class="col-lg-12">
            <!-- FORM ROLES -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Información de Inventarios</h6>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        {% for venta in producto %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="id" id="id" value={{venta.id_producto}} hidden>
                                    <label for="validationTooltip04">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre_producto" id="nombre_producto" value={{venta.nombre_producto}} readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip03">Unidades Vendidas</label>
                                    <input type="number" class="form-control" name="unidades_producto" id="unidades_producto" required>
                                </div>
                            </div>
                            <br>
                            <input class="btn btn-success" type="submit" value="Venta">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}