{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Eventos</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre Categoría del Evento</th>
                        <th scope="col">Foto Categoría del Evento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat_evento in cat_eventos %}
                        <tr>
                            <th scope="row">{{cat_evento.nombre_categoria_evento}}</th>
                            <td>{{cat_evento.foto_categoria_evento}}</td>
                            <td>
                                <a href="{% url 'editarCategoriaEventos' %}?id={{cat_evento.id_categoria_evento}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarCategoriaEvento' %}?id={{cat_evento.id_categoria_evento}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}