{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Productos</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre Categoría del Producto</th>
                        <th scope="col">Foto Categoría del Producto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat_producto in cat_productos %}
                        <tr>
                            <th scope="row">{{cat_producto.nombre_categoria_producto}}</th>
                            <td>{{cat_producto.foto_categoria_producto}}</td>
                            <td>
                                <a href="{% url 'editarCategoriaProductos' %}?id={{cat_producto.id_categoria_producto}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarCategoriaProducto' %}?id={{cat_producto.id_categoria_producto}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}