{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Eventos</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre del Evento</th>
                        <th scope="col">Categoría Evento</th>
                        <th scope="col">Fecha de Evento</th>
                        <th scope="col">Duración de Evento</th>
                        <th scope="col">Descripción de Evento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for evento in eventos %}
                        <tr>
                            <th scope="row">{{evento.nombre_evento}}</th>
                            <td>{{evento.id_categoria_evento}}</td>
                            <td>{{evento.fecha_evento}}</td>
                            <td>{{evento.duracion_evento}}</td>
                            <td>{{evento.descripcion_evento}}</td>
                            <td>
                                <a href="{% url 'editarEventos' %}?id={{evento.id_evento}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarEvento' %}?id={{evento.id_evento}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}