{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Inventario</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre del Producto</th>
                        <th scope="col">Unidades</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Foto del Producto</th>
                        <th scope="col">Categoría del Producto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in inventario %}
                        <tr>
                            <th scope="row">{{producto.nombre_producto}}</th>
                            <td>{{producto.unidades_producto}}</td>
                            <td>{{producto.precio_producto|unlocalize}}</td>
                            <td>{{producto.foto_producto}}</td>
                            <td>{{producto.id_categoria_producto}}</td>
                            <td>
                                <a href="{% url 'venderProducto' %}?id={{producto.id_producto}}" class="btn btn-primary">Venta</a>
                                <a href="{% url 'editarInventarios' %}?id={{producto.id_producto}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarInventario' %}?id={{producto.id_producto}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}