{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Roles</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre del Rol</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rol in roles %}
                        <tr>
                            <td>{{rol.nombre_rol}}</td>
                            <td>
                                <a href="{% url 'editarRol' %}?id={{rol.id_rol}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarRol' %}?id={{rol.id_rol}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}