{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reportes</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Row -->
        <div class="row">


            <div class="col-lg-12 mb-12">

                <!-- Illustrations -->
                <div class="card shadow mb-12">
                    <div class="card-body">
                        <p style="text-align: center;">Bienvenido al Sistema de Administración de El Patio Food & Beer. Gestiona los registros de productos, usuarios, roles y eventos. Adicionalmente se podrán visualizar los reportes más reciente del restaurante.</p>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}