{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Ver Usuarios</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nombre Usuario</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Teléfono Usuario</th>
                        <th scope="col">Rol Usuario</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Fecha Contratación</th>
                        <th scope="col">Fecha Cese</th>
                        <th scope="col">Jornada Laboral</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <th scope="row">{{usuario.nombre_usuario}}</th>
                            <td>{{usuario.primer_apellido_usuario}}</td>
                            <td>{{usuario.segundo_apellido_usuario}}</td>
                            <td>{{usuario.correo_usuario}}</td>
                            <td>{{usuario.telefono_usuario}}</td>
                            <td>{{usuario.id_rol_usuario}}</td>
                            <td>{{usuario.fecha_nacimiento_usuario}}</td>
                            <td>{{usuario.fecha_contratacion_usuario}}</td>
                            <td>{{usuario.fecha_final_contrato}}</td>
                            <td>{{usuario.id_jornada_usuario}}</td>
                            <td>
                                <a href="{% url 'editarUsuario' %}?id={{usuario.id_usuario}}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminarUsuario' %}?id={{usuario.id_usuario}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}